:root {
  font-size: clamp(1rem, 16px, 1.5rem);
  min-height: 100vh;
  overflow-x: hidden;
  /* --site-background-color: #f7f7f7; */
  --site-background-color: #f7f7f7;
  --font-color-main: #070707;
  --font-color-accent: #3b4342;
  --code-background-color: #18181a;
  --shadow-color: #b7b6b6;
}
body {
  font-family: 'Arial', sans-serif;
  margin: auto;
  padding: 20px;
  text-align: left;
  background-color: var(--site-background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--font-color-main);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--font-color-main);
}
a {
  color: #3b4342;
}
nav a {
  margin-left: 10px;
}
a:hover {
  text-decoration: underline;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: var(--code-background-color);
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}
a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
a.active {
  font-weight: bolder;
  text-decoration: underline;
}
header {
  margin: 0em 0 1em;
}
button:hover {
  cursor: pointer;
}
nav {
  text-align: right;
}
p {
  cursor: default;
}
article {
  cursor: text;
}
.error {
  color: red;
  font-style: italic;
}
textarea {
  font: inherit;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog-post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80ch;
}
.blog-form {
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 700;
}
.form-item-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.checkbox-container {
  display: inline-block;
  margin-bottom: 1rem;
}
.delete-button {
  color: white;
  background-color: red;
  border: 1px solid gray;
  font-size: 0.8rem;
}
.delete-post {
  margin-top: 500px;
}
.post-preview {
  display: flex;
  justify-content: space-between;
  min-height: 125px;
  max-height: 500px;
  border-radius: 25px;
  color: var(--font-color-main);
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

.preview-date {
  font-style: italic;
  margin-bottom: 0.5rem;
}
.preview-title {
  font-size: 1.1rem;
  font-style: bold;
  font-weight: 800;
}
.preview-title:hover {
  text-decoration: underline;
}
.preview-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-tags {
  margin: 0.5rem 0;
}
.post-tags > li {
  list-style-type: none;
  display: inline-block;
  margin-right: 0.5rem;
  /* border: 1px solid black; */
  color: white;
  background-color: rgb(12, 14, 14);
  padding: 0 0.5rem;
  border-radius: 25px;
}
.read-more-link {
  font-weight: 600;
}
.read-more-link:hover {
  text-decoration: underline;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form > input {
  margin-bottom: 1rem;
}
